body {
  height: 100%;
}

//hero
.hero {
  width: 100%;
  height: 650px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: top;

  .logo {
    z-index: 5;
    left: 54px;
    top: 22px;
    transition: 2s;
    animation: left-align 0.5s;
  }

  @keyframes fade_in_show {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;

    &__items {
      list-style: none;

      &__mobile {
        font-size: $copy--body;
        margin-top: 159px;
        padding-left: 24px;
        list-style: none;
      }
    }
    &__element {
      display: inline;
      padding: 32px;

      &__mobile {
        padding: 24px;
      }
    }

    &__burger-menu {
      right: 50px;
      top: 30px;
      cursor: pointer;
      z-index: 5;

      span {
        transition: all 300ms;
        transform-origin: 9px 2px;
        z-index: 1;
        display: block;
        height: 3px;
        margin: 5px;
        width: 30px;
        background-color: white;
      }

      &.open {
        span:first-child {
          transform: rotate(45deg);
        }
        span:nth-child(2) {
          display: none;
        }
        span:last-child {
          transform: rotate(-45deg);
        }
      }
    }

    &__mobile {
      z-index: 1;
      width: 100%;
      height: 100vh;
      position: fixed;
      overflow: hidden;
      top: 0;
      left: 0;
      background-color: black;
      animation: fade_in_show 0.5s;
    }

    @keyframes fade_in_show {
      0% {
        opacity: 0;
        width: 0;
      }

      100% {
        opacity: 1;
        width: 100%;
      }
    }
  }

  &__copy {
    margin-left: 15%;
    margin-top: 130px;
    max-width: 650px;
    max-height: 278px;
    padding: 40px;
    border: 1px solid $white;
  }
}

// about-us
.about-us {
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(7, 1fr);

  &__img {
    background-image: url("/images/desktop/image-interactive.jpg");
    max-width: 731px;
    height: 500px;
    grid-column: 6 / span 8;
    grid-row: 2 / span 5;
    z-index: -1;
  }

  &__text {
    max-width: 600px;
    background-color: white;
    padding: 10%;
    grid-column: 12 / span 7;
    grid-row: 4 / span 4;
  }

  &__heading {
    margin-top: 10px;
  }
}

//our creations

.our-creations {
  &__header {
    display: flex;
    align-items: center;
    max-width: 1130px;
    margin: 0 auto;
    justify-content: space-between;
  }

  &__cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1200px;
    padding-top: 5%;
    padding-bottom: 15%;
    margin: 0 auto;
  }

  &__card:hover {
    .copy--white {
      color: black;
    }
  }

  &__card {
    height: 450px;
    width: 256px;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;

    &__copy {
      max-width: 169px;
      height: 64px;
      margin-left: 40px;
      margin-bottom: 32px;
    }

    &--background-1 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
        url("../images/desktop/image-deep-earth.jpg");
    }
    &--background-2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
        url("../images/desktop/image-night-arcade.jpg");
    }
    &--background-3 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
        url("../images/desktop/image-soccer-team.jpg");
    }
    &--background-4 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
        url("../images/desktop/image-grid.jpg");
    }
    &--background-5 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
        url("/images/desktop/image-from-above.jpg");
    }
    &--background-6 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
        url("/images/desktop/image-pocket-borealis.jpg");
    }
    &--background-6:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
        url("/images/desktop/image-pocket-borealis.jpg");
    }
    &--background-7 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
        url("/images/desktop/image-curiosity.jpg");
    }
    &--background-7:hover {
      background-image: linear-gradient(
          rgba(153, 153, 153, 0.6),
          rgba(153, 153, 153, 0.6)
        ),
        url("/images/desktop/image-curiosity.jpg");
    }
    &--background-8 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
        url("/images/desktop/image-fisheye.jpg");
    }
    &--background-8:hover {
      background-image: linear-gradient(
          rgba(153, 153, 153, 0.6),
          rgba(153, 153, 153, 0.6)
        ),
        url("/images/desktop/image-fisheye.jpg");
    }
  }
}

// buttons
.btn {
  width: 9.8125rem;
  height: 2.5rem;
  transition: 0.5s;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn--white {
  background-color: white;
  border: 1px solid black;
  font-family: $body-text;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

//footer
.footer {
  width: 100%;
  background-color: $black;

  .logo-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation__icons {
      display: flex;

      .icon {
        margin: 44px 15px;
      }
    }
  }

  .navigation__element {
    display: inline;
    padding-right: 20px;
  }
}

.navigation__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 43 px;
}

.container {
  padding: 44px 150px;
  background-color: black;
}
