body {
  height: 100%;
}

//hero
.hero {
  width: 100%;
  height: 650px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: top;

  .logo {
    z-index: 5;
    left: 54px;
    top: 22px;
    transition: 2s;
    animation: left-align 0.5s;
  }

  @keyframes fade_in_show {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;

    &__items {
      list-style: none;

      &__mobile {
        font-size: $copy--body;
        margin-top: 159px;
        padding-left: 24px;
        list-style: none;
      }
    }
    &__element {
      display: inline;
      padding: 32px;

      &__mobile {
        padding: 24px;
      }
    }

    &__burger-menu {
      right: 50px;
      top: 30px;
      cursor: pointer;
      z-index: 5;

      span {
        transition: all 300ms;
        transform-origin: 9px 2px;
        z-index: 1;
        display: block;
        height: 3px;
        margin: 5px;
        width: 30px;
        background-color: white;
      }

      &.open {
        span:first-child {
          transform: rotate(45deg);
        }
        span:nth-child(2) {
          display: none;
        }
        span:last-child {
          transform: rotate(-45deg);
        }
      }
    }

    &__mobile {
      z-index: 1;
      width: 100%;
      height: 100vh;
      position: fixed;
      overflow: hidden;
      top: 0;
      left: 0;
      background-color: black;
      animation: fade_in_show 0.5s;
    }

    @keyframes fade_in_show {
      0% {
        opacity: 0;
        width: 0;
      }

      100% {
        opacity: 1;
        width: 100%;
      }
    }
  }

  &__copy {
    margin-left: 15%;
    margin-top: 130px;
    max-width: 650px;
    max-height: 278px;
    border: 1px solid $white;
  }
}

// about-us
.about-us {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  &__img {
    background-image: url("/images/desktop/image-interactive.jpg");
    max-width: 731px;
    height: 500px;
    grid-column: 3 / span 4;
    grid-row: 2 / span 5;
    z-index: -1;
  }

  &__text {
    max-width: 600px;
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
    grid-column: 6 / span 3;
    grid-row: 4 / span 3;
  }

  &__heading {
    margin-top: 10px;
  }
}

.fixed {
  position: fixed !important;
}
